head{
    font-family: "Segoe UI";
}
body{
    font-family: "Lucida Sans";
}

.list-item{
    list-style: decimal;
    margin-top: 5px;
    margin-bottom: 5px;
}
.header{
    background-color: aquamarine;
    color: brown;
    height: 50px;
}
.main{
    background-color: cadetblue;
    color: darkgoldenrod;
    height: 300px;
}
.footer{
    background-color: darkgray;
    color: black;
    height: 40px;
}